#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.employeeList {
  border: 1px solid purple;
}
.employeePage {
  border: 1px solid brown;
}
.employeeListItem {
  border: 1px solid fuchsia;
}
.homePage {
  border: 1px solid orange;
}
.header {
  border: 1px solid blue;
}
.searchBar {
  border: 1px solid green;
}
